# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# build files
.next/
out/
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
tmp/

# dependencies
bower_components/
node_modules/

# misc
.env*
.pnp*
.sass-cache
.eslintcache
connect.lock
coverage/
libpeerconnection.log
npm-debug.log*
testem.log
yarn-error.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
npm-shrinkwrap.json.ember-try
package.json.ember-try
package-lock.json.ember-try
yarn.lock.ember-try

# broccoli-debug
DEBUG/
